.footer-container{
    padding:40px 80px;
    margin: 40px 0 0 0;
    background-color: #03132c;
}

.footer-category-list{
    display: flex;
    justify-content: space-between;
}
.footer-top-category{
    color: #FFFFFF;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 700;
}

.footer-sub-category{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
}
.footer-sub-category p{
    padding: 8px 0;
}
.footer-sub-category input{
    width: 300px;
    padding: 8px 10px;
}
.footer-follow-us{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 700;
}